body {
    background-color: #f8f9fa;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

h1, h2 {
    color: #2c3e50;
    font-weight: bold;
    margin-top: 20px;
}

.navbar-dark .navbar-nav .nav-link:hover {
    color: #ff9800 !important;
    transition: color 0.3s ease-in-out;
}

.card {
    border: none;
    border-radius: 10px;
    margin-top: 20px;
}